[viewBag]

[breadcrumbs]
code = "header"
==
<div class="content-header  wow fadeInUp">
    <div class=" container ">

        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark "> {{ this.page.title }} </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
           
               {% component 'breadcrumbs' %}
                     
                     
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container-fluid -->
</div>