[staticMenu]
code = "header"

[viewBag]
==
<!-- ======= Header ======= -->
<header id="header" class=" d-table center-content">
    <div class="container">
        <div class="row">
            <div class="col-2">

                    <div class="logo pull-left">
                        <a href="/">
                            <img src=" {{ 'assets/img/logo.png'|theme }} "  alt="" class="img-fluid">
                        </a>
                    </div>

            </div>
            <div class="col-10">
                    <div id="topbar">
                        <div class="container">
                           <div class="text-right">
                               {% partial 'site/acceso_virtual' %}
                           </div>
                        </div>
                    </div>
                    <nav class="main-nav float-right d-none d-lg-block">

                            {% component 'staticMenu' %}

                    </nav><!-- .main-nav -->
            </div>
        </div>
    </div>
</header><!-- #header -->